/*
Colours used

Primary Colour (Pink): #ff2267;
Secondary Colour (Black): #000000;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-size: 36px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

p {
  font-weight: 300;
  text-align: justify;
  text-justify: auto;
  max-width: 80ch;
}


div, header, button {
  margin: 10px;
  padding: 10px;
}

a {
  color: #ff2267;
  font-weight: 300;
  text-decoration: none;
}

a:visited {
  color: #ff2267;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  color: #ff6694;
}

button {
  border: none;
  font-family: inherit;

  background-color: #ff2267;
  color: #FFFFFF !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #c5003d;
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* Layout styling*/

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* Not spacing to top and bottom and auto spacing to left and right*/
  padding: 0 20px;
}

.cover {
  height: 150px;
}

.column-container {
  white-space: nowrap;
}

.column-4 {
  width: 24%;
  display: inline-block;
  margin-right: 1%;
}

.column-4:last-child {
  margin-right: 0;
}

.navigation {
  list-style-type: none;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
  float: right;
}
