/*
Colours used

Primary Colour (Pink): #ff2267;
Secondary Colour (Black): #000000;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 1.6;
}

div, header, button, .button {
  margin: 10px;
  padding: 10px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

p {
  font-weight: 300;
  text-align: justify;
  text-justify: auto;
}

a {
  color: #ff2267;
  font-weight: 300;
  text-decoration: none;
}

a:visited {
  color: #ff2267;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  color: #ff6694;
}

button, .button {
  border: none;
  font-family: inherit;
  background-color: #ff2267;
  color: #FFFFFF !important;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #c5003d;
  transition: 0.2s opacity;
}

button:hover, .button:hover, button:focus, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* Layout styling*/

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* Not spacing to top and bottom and auto spacing to left and right*/
  padding: 0 20px;
}

.text {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.cover {
  height: 150px;
}

.column-container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  display: grid;
  grid-template-columns: repeat(4,25%);
  padding: 0;
}

.column-4 {
  vertical-align:top;
}

.project-preview {
  padding: 0;
}

.project-preview > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-preview > p {
  text-align: center;
}

.project-details {
  display: none;
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
  width: 75px;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact > p, a {
  margin: 5px auto;
}

.myname {
  font-weight: 400;
}

.skype {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0;
}

.mail {
  display: grid;
  grid-template-columns: 1fr 7fr;
  padding: 0;
}

.linkedin {
  display: grid;
  grid-template-columns: 1fr 7fr;
  padding: 0;
  margin: 0 auto;
}

.skype > img, .skype > a, .mail > img, .mail > a , .linkedin > img {
  margin-top: auto;
  margin-bottom: auto;
}

.test {
  margin-top: auto;
  margin-bottom: auto;
}

.downloadCV {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloadCV > p {
  margin-top: 50px;
}

.downloadCV > a, .emailme > a {
  font-weight: 400;
}

.valencia-illustration {
  max-width: 1000px;
  max-height: 400px;

}

@media all and (max-width: 825px) {

  header {
    display: flex;
    flex-direction: column;
  }

  header > a {
    display: flex;
    justify-content: center;
  }

  .navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .column-container {
    white-space: nowrap;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .column-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .column-4 > p {
    text-align: center;
  }

  h1 {
    font-size: 30px;
    margin-top: 0px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

@media all and (max-width: 430px) {

  .navigation {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .column-container {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
  }

  .column-4 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .column-4 > img {
    margin-left: auto;
    margin-right: auto;
  }

  .column-4 > p {
    text-align: center;
  }
}

@media all and (max-width: 360px) {

  .logo {
    display: block;
    height: 50px;
    margin: 0 auto;
  }

  header {
    margin: 0 auto;
  }
}

/* Animations */
@keyframes color-change {
  from {fill: #E7B95C;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  /* animation: 4s color-change infinite alternate linear */
}


@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 34s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  /* animation: 30s cloud-move infinite alternate linear; */
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
